/* Primary Styles */
*, *::before, *::after {
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
   font-size: 1em;
   color: #333;
   margin-top: 18%;
   overflow: hidden;
   background: #192b3c url(../loader.gif) no-repeat center;
}

h1 {
  font-size: 1.4em;
}

em {
   font-style: normal;
}

a {
   text-decoration: none;
   color: inherit;
} 

/* Layout */
.s-layout {
   display: flex;
   width: 100%;
   min-height: 100vh;
}

.s-layout__content {

   /* display: flex;
   justify-content: center;
   align-items: center;
   flex: 1; */
}

.globalsearch{
   width: 100%;
   padding:5px;
}

.select_lang{
   float: right;
   position: fixed;
   right: 0.4em;
   top: 17px;
   padding: 5px;
}


/* Sidebar */
.s-sidebar__trigger {
   z-index: 9999;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
   background: #192b3c;
}

.s-sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   color: white;
}

.s-sidebar__nav {
   z-index: 999;
   position: fixed;
   top: 9.2%;
   left: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background: #243e56;
   color: rgba(255, 255, 255, 0.7);
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 4em;
}

.s-sidebar__nav-link em {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #4d6276;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 0;
   left: 0;
   display: inline-block;
   width: 4em;
   height: 4em;
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* -------------------------------------------------------------------------------- */
/* Pour la map */
/* -------------------------------------------------------------------------------- */
#map, #details {
   z-index: 99;
   width:54vh;
   height: 90%;
 }

 #details {
   background: #efefef;
   color: #000;
   overflow:scroll;
   padding:.5rem;
 }
 #details strong {
   color: #c00;
 }

 .controls {
   z-index: 999;
   background-color: #fff;
   border-radius: 2px;
   border: 1px solid transparent;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   box-sizing: border-box;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   height: 29px;
   outline: none;
   padding: 0 11px 0 13px;
   padding: 19px;
   text-overflow: ellipsis;
   width: 50%;

   margin-left: -7px!important;
   margin-top: 10px!important;
 }

 .controls:focus {
   border-color: #4d90fe;
 }

 .buttons{
   width: 100%;
   position: absolute;
   bottom: 9em;
   left: 0;
   text-align: center;
 }

 .button_add{
    cursor:pointer;
    width: 93%;
    margin: 8px;
    padding: 5px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
 }


/* -------------------------------------------------------------------------------- */
/* Pour les modals */
/* -------------------------------------------------------------------------------- */

.modal {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 0vh;
   background-color: transparent;
   overflow: hidden;
   transition: background-color 0.25s ease;
   z-index: 9999;
 }
 .modal.open {
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.5);
   transition: background-color 0.25s;
 }
 .modal.open > .content-wrapper {
   transform: scale(1);
 }
 .modal .content-wrapper {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 70%;
   margin: 0;
   padding: 2.5rem;
   background-color: white;
   border-radius: 0.3125rem;
   box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.5);
   transform: scale(0);
   transition: transform 0.25s;
   transition-delay: 0.15s;
 }
 .modal .content-wrapper .close {
   position: absolute;
   top: 0.5rem;
   right: 0.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 2.5rem;
   height: 2.5rem;
   border: none;
   background-color: transparent;
   font-size: 1.5rem;
   transition: 0.25s linear;
 }
 .modal .content-wrapper .close:before, .modal .content-wrapper .close:after {
   position: absolute;
   content: '';
   width: 1.25rem;
   height: 0.125rem;
   background-color: black;
 }
 .modal .content-wrapper .close:before {
   transform: rotate(-45deg);
 }
 .modal .content-wrapper .close:after {
   transform: rotate(45deg);
 }
 .modal .content-wrapper .close:hover {
   transform: rotate(360deg);
 }
 .modal .content-wrapper .close:hover:before, .modal .content-wrapper .close:hover:after {
   background-color: tomato;
 }
 .modal .content-wrapper .modal-header {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   margin: 0;
   padding: 0 0 1.25rem;
 }
 .modal .content-wrapper .modal-header h2 {
   font-size: 1.5rem;
   font-weight: bold;
 }
 .modal .content-wrapper .content {
   position: relative;
   /* display: flex; */
 }
 .modal .content-wrapper .content p {
   font-size: 0.875rem;
   line-height: 1.75;
 }
 .modal .content-wrapper .modal-footer {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   width: 100%;
   margin: 0;
   padding: 1.875rem 0 0;
 }
 .modal .content-wrapper .modal-footer .action {
   position: relative;
   margin-left: 0.625rem;
   padding: 0.625rem 1.25rem;
   border: none;
   background-color: slategray;
   border-radius: 0.25rem;
   color: white;
   font-size: 0.87rem;
   font-weight: 300;
   overflow: hidden;
   z-index: 1;
 }
 .modal .content-wrapper .modal-footer .action:before {
   position: absolute;
   content: '';
   top: 0;
   left: 0;
   width: 0%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
   transition: width 0.25s;
   z-index: 0;
 }
 .modal .content-wrapper .modal-footer .action:first-child {
   background-color: #2ecc71;
 }
 .modal .content-wrapper .modal-footer .action:last-child {
   background-color: #e74c3c;
 }
 .modal .content-wrapper .modal-footer .action:hover:before {
   width: 100%;
 }
 
/* -------------------------------------------------------------------------------- */
/* Formulaires */
/* -------------------------------------------------------------------------------- */

#latlng{
   background: rgba(0,0,0,0.7);
   color: #fff;
   font-weight: bold;
   padding: 5px;
   text-align: center;
   -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);
   box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.75);
}

.pac-container{
   z-index: 999999!important;
}

/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      width:100%;
      margin-left: 15em;
   }
   
   /* Sidebar */
   /* .s-sidebar__trigger {
      width: 4em;
   } */

   /* .controls{
      z-index: 9!important;
      position: absolute!important;
      left: 0px!important;
      top: 9px!important;
   }
   .gm-style-mtc{
      margin-top: 30px!important;
   } */

   .globalsearch{
      margin-left: 0em;
   }

   .s-sidebar__nav {
      /* width: 4em; */
      left: 0;
   }
   
   body{
      margin-top: 6%;
   }  


   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }

}

@media (min-width: 50em) {
   .s-layout__content {
      width: 100%;
   }
   
   /* Sidebar */
   /* .s-sidebar__trigger {
      display: none
   } */

   #map, #details {
      width:100%;
   }
   body{
      margin-top: 7%;
   }

   /* .globalsearch{
      margin-left: 9.5em;
   } */

   .s-sidebar__nav {
      width: 15em;
   }
   
   .s-sidebar__nav ul {
      top: 1.3em;
   }

}